# default reviewers
*               @greenbone/asset @greenbone/vulnerability-intelligence-maintainers

# .github
.github/        @greenbone/asset @greenbone/vulnerability-intelligence-maintainers @greenbone/devops
